<?xml version="1.0" encoding="utf-8"?>
<packages>
    <package id="SME" version="0.3.2" targetFramework="net45" />
    <package id="SME.GraphViz" version="0.3.2" targetFramework="net45" />
    <package id="SME.VHDL" version="0.3.2" targetFramework="net45" />
    <package id="SME.Tracer" version="0.3.2" targetFramework="net45" />
    <package id="SME.AST" version="0.3.2" targetFramework="net45" />
    <package id="SME.CPP" version="0.3.2" targetFramework="net45" />
    <!--<package id="SME.Components" version="0.3.2" targetFramework="net45" />-->
    <package id="Castle.Core" version="4.2.1" targetFramework="net45" />
    <package id="ICSharpCode.Decompiler" version="3.0.2.3465" targetFramework="net45" />
    <package id="Mono.Cecil" version="0.10.0-beta7" targetFramework="net45" />
    <package id="Newtonsoft.Json" version="11.0.1" targetFramework="net45" />
</packages>
